################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CrudBlazor/v17/.suo
/.vs/CrudBlazor/DesignTimeBuild/.dtbcache.v2
/.vs/CrudBlazor/config/applicationhost.config
/.vs/CrudBlazor/FileContentIndex/6341b9f8-e65b-4055-bfeb-0866eca19014.vsidx
/.vs/CrudBlazor/FileContentIndex/e1005ec8-059f-4bf0-bb58-3b335ce2575e.vsidx
/.vs/CrudBlazor/FileContentIndex/a39ba46b-7a09-45a6-af46-6837df6627a4.vsidx
/.vs/CrudBlazor/v17/.futdcache.v2
/.vs/CrudBlazor/v17/.suo
/.vs/ProjectEvaluation/crudblazor.metadata.v6.1
/.vs/ProjectEvaluation/crudblazor.projects.v6.1
/CrudBlazor/bin/Debug/net7.0/CrudBlazor.dll
/CrudBlazor/bin/Debug/net7.0/CrudBlazor.exe
/CrudBlazor/bin/Debug/net7.0/CrudBlazor.pdb
/CrudBlazor/bin/Debug/net7.0/CrudBlazor.staticwebassets.runtime.json
/CrudBlazor/obj/Debug/net7.0/apphost.exe
/CrudBlazor/obj/Debug/net7.0/CrudBlazor.assets.cache
/CrudBlazor/obj/Debug/net7.0/CrudBlazor.csproj.CoreCompileInputs.cache
/CrudBlazor/obj/Debug/net7.0/CrudBlazor.dll
/CrudBlazor/obj/Debug/net7.0/CrudBlazor.genruntimeconfig.cache
/CrudBlazor/obj/Debug/net7.0/CrudBlazor.pdb
/CrudBlazor/obj/Debug/net7.0/project.razor.vs.json
/CrudBlazor/obj/Debug/net7.0/staticwebassets.build.json
/CrudBlazor/obj/Debug/net7.0/staticwebassets.development.json
/CrudBlazor/obj/Debug/net7.0/staticwebassets.pack.json
/CrudBlazor/obj/CrudBlazor.csproj.nuget.dgspec.json
/CrudBlazor/obj/CrudBlazor.csproj.nuget.g.props
/CrudBlazor/obj/project.assets.json
/CrudBlazor/obj/project.nuget.cache
